<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ("partials/header.ejs") %>
    <h1> Welcome to my blogs !</h1>

    <% if (article1.length>0) { %>
    <h2>Here are your posts: </h2>
     <% for (var i=0;i<article1.length;i++) { %>
        <li>
            <a href="/posts/<%= article1[i].title %>" ><%= article1[i].title %></a>
            <form action="/delete/<%= article1[i].title %>" method="POST" style="display:inline">
                <input type="hidden" name="title" value="<%= article1[i].title %>">
                <button type="submit">Delete</button> 
            </form>
            
            <form action="/edit/<%= article1[i].title %>" method="GET" style="display:inline">
                <input type="hidden" name="title" value="<%= article1[i].title %>">
                <button type="submit">Edit</button> 
            </form>
            <br/>
            <br/>
        </li>
      <% } %>

    <% } else { %>
        <h2>No posts yet! Create now !</h2>
    <% } %>
</body>
</html>
    

